img{
	float:left;
	margin-right:10px;
}
#div2{
	border:solid;
	border-width:1px;
  padding: 10px;
}
#div3{
	background-color: #CCCCCC;
	margin:10px;
}
.Class1 {
  position: fixed;
  top: 100px;
  width: 400px;
  height: 400px;
  overflow-y:scroll;
  left: 100px;
  
}

.Class1:active{
    visibility: hidden;
}